<launch>
 
  <arg  name = "model"       default = "$(find robot_description)/urdf/sekirei2020.urdf" />
  <arg  name = "gui"         default = "false"/>
  <arg  name = "rvizconfig"  default = "$(find sekirei2020_operator_gui)/config/rviz/sekirei_state_viewer.rviz"/>
 
 
  <param  name = "robot_description"  command = "$(find xacro)/xacro.py $(arg model)" />
  <param  name = "use_gui"  value = "$(arg gui)"/>


  <node  name = "robot_state_publisher"  pkg = "robot_state_publisher"  type = "robot_state_publisher" />

  <node  name = "rqt_gui"  pkg = "rqt_gui"  type = "rqt_gui" />
 
</launch>

